body{
    background-color: none !important;
    border: none;
}
.ProfPic{
    height: 300px;
    width: 200px;
    margin-left: 550px;
    border-radius: 100%;
    border: 2px outset green;
}
h1{
    font-family: 'Montserrat';
    text-align: center;
}
p{
    font-family: 'Montserrat';
    text-align: center;
}
.link{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 30px;
}